
header{
            display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: -15px;
       font-family:'Open Sans', sans-serif ;
}
.menu1 li {
        list-style: none;
        float: left;
        overflow: hidden;
        margin: 0 10px;

}
.logo{
        float: left;
        overflow: hidden;
}
.menu1 a {
        color: black;
}
.menu1 a:hover{
        color: darkred;
}
.search{
        padding: 5px;
    border-radius: 10px;
    border-color: #f1e7e0;
    background-color: #f1e7e0;
    border: none;
    transition: all 1s ease;
    margin-bottom: -25px;
    margin-top: 18px;

}
.search:hover{
        background:#978e87 ;
        
}
main .main {
        width: 100%;

   ;
}
.footer1{
        display: flex;
         font-size: 40px;
        list-style: none;
justify-content: center;
        margin-top: -10px;
            ;
}
footer li {
         float: left;
      }
form {
        display: flex;
    justify-content: space-around;
    margin-top: -35px;
    margin-bottom: 10px;
}
 .button1{
            color: white;
    background-color: black;
    padding: 5px;
    border-radius: 25px;
    border: none;
    transition: all 1s ease;
    padding: 10px 30px;
}
.button1:hover{
        background:#978e87 ;
}

.button2{
              color: white;
    background-color: black;
    padding: 5px;
    border-radius: 25px;
    border: none;
    transition: all 1s ease;
    padding: 10px 30px;
}
.button2:hover{
        background:#978e87 ;
        }
.description{
        display: flex;
    background-color: rgb(17, 17, 17);;
    color: white;


}



 .column1 {
         display: flex;
          flex-direction: column;
        float: left;
            padding-top: 20px;
          padding-right: 70px;
          padding-left: 20px;
          

}
.column2 {
            display: flex;
    flex-direction: column;
    float: left;
         padding-top: 20px;
    padding-right: 70px;
    ;

}
.column3 {
            display: flex;
    flex-direction: column;
    float: left;
        padding-top: 20px;
    padding-right: 70px;


}
.description a {
        color: white;
            text-decoration: none;

}
.description a:hover{
        color: darkred;
}

.column4 .inst {
            display: flex;
    width: 680px;
    justify-content: flex-end;
    padding-top: 20px;
}

